.buttonContainer {
  position: absolute;
  bottom: 48px;
  right: 35%;
  z-index: 10;
  background: white;
  padding: 12px;
  border-radius: 10px;
  /* position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; */
}
.rowContainer {
  display: flex;
  flex-direction: row;
}
.buttonP {
  color: #4298e8;
  font-weight: bold;
  font-size: large;
  padding: 0px;
  margin: 0px;
  flex-basis: 3;
  white-space: nowrap;
}
.arrow {
  width: 40%;
  height: auto;
}
